body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    overflow: hidden;
    overflow-wrap: anywhere;
}
.error-text {
    color: #7A8891;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
   
}

.error-404 {
    color: black;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px
}

.h1 {
    color: #7A8891;
    font-size: 160px;
    font-family: "Gotham Pro", sans-serif;
    font-style: bold;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-columns: auto ; 
    grid-template-rows:4fr 2fr;
    margin-right: 300px;
    margin-left: 300px;


}
/* .container>div{
    background-color: black;
    color: white;
    min-width: 500px;
    min-height: 300px;
    max-height: 350px;
    border:1px solid black;
} */





.list {
    font-size: 24px;
}

.body-left-up {
    /* grid-column: 2/3;
   grid-row:1/3; */
    height: 400px;
    margin-right: 10px;
    width: 400px;

}

.body-left-bottom {
    /* grid-column: 1/2;
    grid-row:1/2; */
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
    height: 15px;

}

.body-right {
    /* grid-template-columns: 1fr;
    grid-template-rows: 2fr; */
    /* grid-column: 1/2;
    grid-row:2/3; */
    margin-left: 700px;
    margin-top: -450px;



}

ul {
    list-style-type: none;
    display: block;
    font-family: "Roboto", sans-serif;
}

li {
    margin: 10px;
    margin-left:-1px ;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #299B8E;

}
.image {
    width: 594.39px;
    height: 509.97px;
    margin-top: -220px;
}