:root {
    /* background colors */
    --top-header-bg-color: rgb(246,248,247);
    --bottom-header-bg-color: white;
    --top-header-switcher-bg-color: rgb(167,224,217);
    --main-bg-color: white;
    --main-shadow-bg-color: rgb(213,213,213);
    --main-button-bg-color: rgb(49,187,172);

    /* font colors */
    --green-color: rgb(41,155,142);

    /* font families */
    --footer-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}